<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create" method="POST">
  <label for="task">Task Name:</label><br>
  <input type="text" id="task" name="task" required><br><br>
  <button type="submit">Add Task</button>
</form>
<br>
   <h1 style="display: flex; justify-content: center;">Task List</h1><br>
   <ul>
    {{#each tasks}}
    <li>
        <div style="display: flex; gap: 5rem; justify-content: center;">
<h3>{{task}}
       {{#if isDone}} | Done{{else}} | Not Done {{/if}} 
        <form action="/delete/{{id}}" method="post">
       <button type="submit">Delete</button></form>
       <form action="/update/{{id}}" method="post">
        <button type="submit"> Update </button>
       </form>

<form action="/task/{{id}}" method="post">
        <input type="text" name="task" value="{{task}}" required><br><br>     
            <button type="submit">Save</button>
</form>
    
        </div>
      
    </li>
    {{/each}}
   </ul>
</body>
</html>